@charset "UTF-8";

td, th {
    padding: 10px;
}

.goods-list-table, .goods-list-table td, .goods-list-table th {
    border: 4px solid black;
    border-collapse: collapse;
}

.content {
    margin: 50px;
}

.error {
    color: red;
}

.login-link-container {
    text-align: right;
}

input:required:invalid {
    border:1px solid red;
}

body {
    background-color: #FAFAD1;
}

#pass11 {
    width: 98px;
    height: 10px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
}

#pass12 {
    margin-left: -102px;
    width: 100px;
    height: 8px;
    background: #f00;
    border: 1px solid #fff;
    display: block;
}

#clock {
}