@charset "UTF-8";

td, th {
    padding: 10px;
}

.goods-list-table, .goods-list-table td, .goods-list-table th {
    border: 1px solid black;
    border-collapse: collapse;
}

.content {
    margin: 50px;
}

.error {
    color: red;
}

.login-link-container {
    text-align: right;
}